<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" type="text/css" rel="stylesheet" />
    <title>Pythagorean Theorem</title>
  </head>
  <body>

    <h1>Teoreem, hüpotenuusi arvutaja</h1>
    <p>a²+b² = c² </p>
    <p>a = 5   b = 7:</p>
    <p>5²+7² = 74</p>
    <p>25 + 49 = 74</p>
    <p>c=8.602325267042627</p>

    <form action="/calculate" method="post">
      <label for="fname">A:</label><br>
      <input type="number" id="fname" name="sideA"><br>
      <label for="lname">B:</label><br>
      <input type="number" id="lname" name="sideB"><br>
     <input type="arvuta" value="Arvuta">
    </form>
    A={{sideA}}
    B={{sideB}}
    C={{hypotenuse}}

  </body>
</html>
