<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" type="text/css" rel="stylesheet" />
    <title>Pythagorean Theorem</title>
  </head>
  <body>

    <form action="/calculate" method="post">
      <label for="fname">A:</label><br>
      <input type="number" id="fname" name="sideA"><br>
      <label for="lname">B:</label><br>
      <input type="number" id="lname" name="sideB"><br>
      <input type="submit" value="Submit">
    </form>
    A={{sideA}}
    B={{sideB}}
    C={{hypotenuse}}

  </body>
</html>